*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background:#444;
    color:#fff;
}
img{
    width:300px;
}
.container{
    width:400px;
    margin:20px auto;
    text-align: center;
}
.container h1{
    font-weight: 500;
    letter-spacing: 1px;
    padding:5px;
    margin-bottom: 8px;
}
span{
    display: block;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 5px 0;
}
label{
    font-size: 18px;
    font-weight:400;
    letter-spacing: 1px;
}
#city-name{
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 7px;
}
input{
    display:block;
    margin: auto;
    padding: 8px 16px;
    width:300px;
    border:none;
    border-radius: 5px;
    margin-top:5px;
}
form{
    margin-bottom: 10px;
}
.d-none{
    display:none;
}
.icon{
    width:70px;
    background:rgb(228, 223, 223);
    border-radius: 70px;
    position: relative;
    line-height: 1px;
    top:-45px;
    margin-bottom: -40px;
}
#weather-info{
    background:rgb(165, 165, 177);
    width:300px;
    margin:0 auto;
}
